.content {
	text-align: center;
	display: inline-block;
}
.content-table{
	padding-top: 10px;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.title {
	font-size: 96px;
	margin-bottom: 40px;
}
.quote {
	font-size: 24px;
}
.word-wrap {
	word-wrap: break-word;
}
.content-text {
	white-space: pre-wrap;
}
.home-background {
	background-size: cover;
	background-image: url('/images/home_book.jpg');
}
.home-left {
	background-color: rgba(255,255,255,1.0);
	height: 350;
}
.home-right {
	background-color: rgba(0,0,0,0.8);
	color: white;
	height: 350;
}
.carousel-image{
	width: auto;
	height: 250px;
	max-height: 250px;
}
.carousel-thumbnail{
	width: 250px;
	height: 300px;
	margin: 0 20px;
}
.carousel-caption{
	text-align: left;
}
.top-button{
	text-align: right;
}
.inline{
	display: inline;
}
textarea{
	resize: none;
}
.first-letter{
	color: #5abf7f; 
	font-weight: bold;
}
.first-navbar-letter{
	color: #43ac6a;
	font-weight: bold;
}
.main-container{
	padding: 0 20px;
}
.cover-image{
	height: 300px;
	width: 220px;
}
.cover-image-thumbnail{
	height: 270px;
	width: 200px;
}
.small-cover-image-thumbnail{
	height: 60px;
	width: 40px;
}
.small-user-image-thumbnail{
	height: 30px;
	width: 30px;
}
.small-user-image-thumbnail-navbar{
	height: 20px;
	width: 20px;
}
.book-thumbnail{
	height: 420px;
	width: 220px;
	/*max-height: 480px; 
	min-height: 150px; 
	max-width: 220px; 
	min-width: 110px; */
	margin: 10px
}
.user-image{
	height: 150px;
	width: 150px;
}
.user-profile{
	padding: 10px 5px;
}
.rating:not(:checked) > input {
	position:absolute;
	top:-9999px;
	clip:rect(0,0,0,0);
}
.rating:not(:checked) > label {
	float:right;
	width:1em;
	padding:0 .1em;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	font-size:200%;
	line-height:1.2;
	color:#ddd;
	text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:before {
	content: '★ ';
}
.rating > input:checked ~ label {
	color: #f70;
	text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
	color: gold;
	text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
	color: #ea0;
	text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > label:active {
	position:relative;
	top:2px;
	left:2px;
}
.navbar-footer{
	padding-bottom: 70px;
}