.content {
	text-align: center;
	display: inline-block;
}
.content-table{
	padding-top: 10px;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.title {
	font-size: 96px;
	margin-bottom: 40px;
}
.quote {
	font-size: 24px;
}
.word-wrap {
	word-wrap: break-word;
}
.content-text {
	white-space: pre-wrap;
}
.home-background {
	background-size: cover;
	background-image: url('/images/home_book.jpg');
}
.home-left {
	background-color: rgba(255,255,255,1.0);
	height: 350;
}
.home-right {
	background-color: rgba(0,0,0,0.8);
	color: white;
	height: 350;
}
.carousel-image{
	width: auto;
	height: 250px;
	max-height: 250px;
}
.carousel-caption{
	text-align: left;
}
.top-button{
	text-align: right;
}
.inline{
	display: inline;
}
textarea{
	resize: none;
}
.first-letter{
	color: #5abf7f; 
	font-weight: bold;
}
.first-navbar-letter{
	color: #43ac6a;
	font-weight: bold;
}
.main-container{
	padding: 0 20px;
}
.cover-image{
	height: 300px;
	width: 220px;
}